$white: #ffffff;
$white_08: rgba($white, 0.8);
$white-dark: #d9d9d9;
$black: #000000;
$black_01: rgba($black, 0.5);
$grey: #333333;
$grey-dark: #1a1a1a;
$grey-dark-2: #1b1b1b;
$grey-light: #666666;
$brown: #5b431e;
$brown-light: #7c5d2d;
$yellow: #ffbe5a;
$red: #bb1010;
$green: #009d1a;
$green-blue: #0E9594;