@import "styles/helpers";

.camera {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  @include full-height;
  width: 100%;
  padding: 0 0 10px;
  background-color: $grey-dark-2;
  @include flex-column;
  align-items: center;
  overflow: auto;

  &__close {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1;
    width: 24px;
    height: 24px;
    @include flex-centered;
  }

  &__canvas {
    display: none;
  }

  &__wrapper {
    margin-bottom: 10px;
    position: relative;
    @include flex-column;
    align-items: center;
    gap: 10px;
  }

  &__crosshair {
    position: absolute;
    @include position-centered;
    width: 50px;
    height: 50px;
    z-index: 1;
    display: none;

    &_visible {
      display: block;
    }

    &:before {
      content: "";
      position: absolute;
      @include position-centered;
      height: 50px;
      width: 2px;
      background-color: $red;
    }

    &:after {
      content: "";
      position: absolute;
      @include position-centered;
      width: 50px;
      height: 2px;
      background-color: $red;
    }
  }

  &__loader-block {
    position: absolute;
    @include position-centered;
    @include flex-column;
    align-items: center;
    gap: 10px;
  }

  &__loader-text {
    @include font-futura-15;
    text-align: center;
  }

  &__geo {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    padding: 5px;
    width: 200px;
    background-color: $white_08;
    display: none;

    &_visible {
      display: block;
    }
  }

  &__geo-info {
    color: $black;
    @include font-futura-15;
  }

  &__options {
    margin-top: 5px;
    border-top: 1px solid $black;
    padding-top: 5px;
    @include flex-column;
    gap: 5px;

    & label {
      color: $black;
    }

    &_no-coords {
      margin-top: 0;
      border-top: 0;
      padding-top: 0;
    }
  }

  &__webcam {
    max-width: 100%;
    max-height: calc($app-height - 65px);
    visibility: hidden;

    &_visible {
      visibility: visible;
    }

    &_photo {
      max-height: calc($app-height - 100px);
    }
  }

  &__footer {
    max-width: 350px;
    width: 100%;
    padding: 0 10px;
  }

  &__submit {
    @include button-big;
  }

  &__screenshot {
    position: absolute;
    bottom: 10px;
    @include size(40px);
    border: 2px solid $white;
    border-radius: 50%;
    background-color: $grey;
    @include flex-centered;
    z-index: 1;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 1);

    &:active {
      transform: translate3d(2px, 2px, 2px);
      background-color: #0E9594;
    }
  }

  &__gallery {
    display: flex;
    gap: 8px;
  }

  &__photo-wrapper {
    position: relative;
    width: calc(25% - 6px);
    height: 80px;
    border: 2px solid $grey-light;
    border-radius: 10px;
  }

  &__photo-block {
    border: 2px solid transparent;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    @include flex-centered;
    overflow: hidden;
  }

  &__photo-remove {
    position: absolute;
    top: -5px;
    right: -5px;
    @include size(25px);
    background-color: $white;
    border-radius: 50%;
    cursor: pointer;
    padding: 5px;
    @include flex-centered;
  }
}
